@use "../styles/Variables.scss";

.main-content-container {
  @include Variables.item-column-container;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .main {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// ----------------------------- DY hero section --------------------------

.dy-hero-main-container {
  @include Variables.item-column-container;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  padding: 4rem 20px;
  justify-content: space-around;
  background-image:
    var(--dy-ruled-lines),
    radial-gradient(var(--dy-paper-bg), rgb(249, 235, 207));
  position: relative;

  .dy-hero-container {
    @include Variables.item-column-container;
    gap: 1rem;
    align-items: flex-start;
    height: fit-content;
  }

  @media (min-width: 768px) {
    .dy-hero-container {
      align-items: center;
    }
  }

  .dy-hero-title {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--dy-paper-text-heading);
  }

  .dy-hero-subtitle {
    font-size: 2rem;
    font-weight: 600;
  }

  .dy-hero-text {
    font-size: 1rem;
    font-weight: 200;
    color: var(--dy-paper-text-body);
    max-width: 600px;
    line-height: 1.4;
  }

  @media (min-width: 768px) {
    .dy-hero-text {
      text-align: center;
      font-size: 1.2rem;
    }

    .dy-hero-subtitle {
      font-size: 3rem;
    }
  }
}

.letter-cover-text {
  font-family: var(--font-dear-you);
  font-size: 1rem;
}

// ----------------------------- DY hero section --------------------------

.dy-about-section {
  @include Variables.item-column-container;
  width: 100%;
  background-image: radial-gradient(rgba(28, 26, 23, 0.89), var(--dy-dark-bg));
  padding: 5rem 1.7rem;
  gap: 3rem;

  .dy-top-line {
    background: linear-gradient(
      90deg,
      var(--dy-dark-text-heading),
      var(--dy-dark-text-muted)
    );
  }

  .dy-about-tagline {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(
      140deg,
      var(--dy-dark-text-heading),
      var(--dy-dark-text-muted)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .dy-about-heading {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--dy-dark-text-heading);
  }

  .dy-about-text {
    font-size: 0.9rem;
    color: var(--dy-dark-text-body);
    text-align: center;
  }

  .dy-about-description {
    @include Variables.item-column-container;
    gap: 1rem;
    justify-content: flex-start;
  }

  .dy-card-container {
    @include Variables.item-row-container;
    gap: 1rem;
    background-color: var(--pastel-wheat);
  }

  .dy-card-container:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }

  .dy-cc-white {
    background-color: var(--dy-dark-text-heading);
  }

  .dy-steps-card-number {
    @include Variables.item-row-container;
    width: 4rem;
    height: 4rem;
    background-color: var(--pastel-moss);
    color: var(--dy-paper-text-heading);
    border-radius: 0.8rem;
    font-size: 1rem;
  }

  .dy-cards-column-container {
    @include Variables.item-column-container;
    gap: 1rem;
    margin-top: 1rem;
  }

  .dy-cards-row-container {
    @include Variables.item-column-container;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .dy-about-tagline {
      font-size: 3rem;
      color: var(--dy-dark-text-body);
    }

    .dy-about-text {
      font-size: 1.1rem;
    }

    .dy-about-description {
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 50%;
      align-self: center;
    }

    .dy-cards-column-container {
      margin-top: 3rem;
    }

    .dy-cards-row-container {
      @include Variables.item-row-container;
      gap: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .dy-about-section {
    padding: 8rem 1.7rem;
  }
}

// ----------------------------- Stamp collection --------------------------

.dy-collection-main-container {
  @include Variables.item-column-container;
  gap: 1rem;
  width: 105%;
  background-color: var(--dy-paper-bg);
  padding: 2rem 1.7rem 4rem 1.7rem;
  border-radius: 1rem;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .dy-collection-main-container {
    width: 80%;
    padding: 4rem 1.7rem 7rem 1.7rem;
  }
}

// ----------------------------- Pricing --------------------------

.pricing-item-container {
  @include Variables.item-column-container;
  align-items: flex-start;
  padding: 2rem 1.5rem;
  gap: 0.5rem;
  border-radius: 15px;
  border: 1.2px solid;
  width: 45%;
  height: fit-content;

  .pricing-frequency-heading {
    font-size: 0.7rem;
  }

  .pricing-price {
    font-size: 2rem;
  }

  .pricing-frequency {
    font-size: 0.9rem;
    margin-top: -10px;
  }

  .pricing-description {
    font-size: 0.8rem;
  }

  .first-letter-free {
    @include Variables.item-row-container;
    padding: 2px 15px;
    border-radius: 9999px;
    font-size: 0.8rem;
    margin-top: 10px;
    border: 1px solid;
  }
}

@media (min-width: 768px) {
  .full-width {
    width: 100%;
  }

  .pricing-item-container {
    width: 32%;
  }
}
