@use "../utils/Variables.scss";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  .first-look-container {
    width: 100%;
    height: 80%;
    background-color: Variables.$primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
  }

  .first-look-bookmark {
    position: absolute;
    top: 0px;
    left: 5%;
    width: 12%;
    height: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .first-look-logo {
    width: 12%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 5%;
  }
}
