@use "../styles/Variables.scss";

.main-container {
  @include Variables.item-column-container;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: space-between;
  background-image:
    //linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("../../public/Background/green_leaves.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  .header-container {
    @include Variables.item-row-container;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;

    .first-look-logo {
      width: 6rem;
      height: auto;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .main-news-container {
    @include Variables.item-column-container;
    width: 80%;
    height: auto;
    aspect-ratio: 99 / 60;
    background-color: var(--color-primary);
    background-image: url("../../public/Background/postcard_background.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 768px) {
    .main-news-container {
      width: 35%;
    }
  }

  .footer-container {
    @include Variables.item-row-container;
    width: 100%;
  }
}

@layer components {
  .menu-item {
    &:hover {
      background-color: var(--color-primary-accent);
    }
  }
}
