@import "tailwindcss";
@import "@heroui/styles";

:root {
  --font-primary: "Arial", sans-serif;
}

#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  height: 100%;
}

p {
  margin: 0;
  white-space: nowrap;
}

h1 {
  margin: 0;
}
